.order-titles {
    text-align: center;
    font-size: 3rem;
}

.order-container {
    width: 60%;
    margin: 50px auto;
}

.input-add {
    border: 1px solid #010101;
    padding: 10px 12px;
    display: flex;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
    align-items: center;
    column-gap: 8px;
}

.total-payment {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 30px 0;
}

.btn-order {
    text-align: center;
    font-size: 1.1rem;
    background-color: #7f5af0;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: #fffffe;
    margin-bottom: 6px;
    font-weight: 500;
    cursor: pointer;
}

