.orders.wrapper {
    flex-direction: column;
}

.filter-order.wrapper {
    align-items: center;
    width: 100px;
}

.filter-order select {
    padding: 10px 10px;
    width: 100%;
    margin-right: 10px;
    font-size: 14px;
}

.filter-order option {
    width: 500px;
    border-radius: 0;
}

.orders-table th {
    font-size: 1.2rem;
    background-color: #16161a;
    color: #fffffe;
}

.orders-table th,
.orders-table td {
    padding: 10px 12px;
    border: 1px solid black;
}

.orders-table td:first-of-type {
    width: 12%;
}

.orders-table td:nth-of-type(4),
.orders-table td:nth-of-type(6) {
    width: 13%;
}

.orders-table td:nth-of-type(5),
.orders-table td:nth-of-type(2),
.orders-table td:nth-of-type(4),
.orders-table td:nth-of-type(6),
.orders-table td:nth-of-type(7),
.orders-table td:last-of-type {
    text-align: center;
}