.user-table th {
    font-size: 1.2rem;
    color: #fffffe;
}

.user-table th,
.user-table td {
    padding: 10px 12px;
    border-bottom: 1px solid white;
    color: #fff;
}

.user-table td {
    text-align: center;
}

